@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body{
  background-color: #050505;
  font-family: Comfortaa, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f5f5f5ff;
  font-size: 62.5%;
  margin: 5%;
}
html {
  font-size: 2rem;
  text-transform: uppercase;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}






.headingUl {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.headingUl li{
  color: #f5f5f520;
  font-size: 1rem;
  transition: 150ms;
}

.headingUl li:hover {
  color: #f5f5f550;
  transform: scale(1.2);
  cursor: pointer;
}

.headingUl li:first-of-type{
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 75%;
}

.headingUl li:first-of-type:hover{
  transform: none;
}

.newNoteForm input {
  font-family: inherit;
  font-size: .5rem;
  border-radius: 50px;
  background: #f5f5f520;
  border: none;
  width: 70%;
  padding: 2%;
  color: #f5f5f590;
}

.newNoteForm button {
  font-family: inherit;
  font-size: 1.2rem;
  background: none;
  border: none;
  padding: 0 0 0 5%;
  color: #f5f5f520;
  cursor: pointer;
  transition: 150ms;
}

.newNoteForm button:hover {
  color: #f5f5f550;
  transform: scale(1.2);
}

.pagesDisplay {
  padding: 5% 0;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(25vh, auto);
  grid-column-gap: 3%;
  grid-row-gap: 5%;
  align-items: stretch;
  justify-items: stretch;
}

.page{
  color: #f5f5f550;
  background: #f5f5f520;
  border-radius: 50px;
  padding: 7%;
  justify-content: space-around;
  text-transform: capitalize;
}
